.background    { background: #690375;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #6D9E42; }
.wall          { background: #1F0322;   }

.actor  { position: absolute;  }
.player { background: #BADDEF; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
