.background    { background: white;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #873A96; }
.wall          { background: #0A0A0A;   }
.floater{background: #388700;}

.game {
  position: relative;
}
